<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- android:requestLegacyExternalStorage="true" es para solicitar el uso del modelo de almacenamiento externo "legado" y para
      mantener la compatibilidad con el comportamiento anterior de acceso al almacenamiento.-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nota"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/nota"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.CreateNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" /><!-- Portrait sirve para que este activity solo este disponible verticalmente
 En particular, stateHidden especifica que el teclado suave debe permanecer oculto cuando la actividad obtiene el foco, incluso si el usuario toca un campo de entrada de texto.-->
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>